.footer-wraooer {
    position: relative;
    top: 10px;
}

.nav-footer-container {
    width: 75vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

.footer-title {
    color: black !important;
}


.divisor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw !important;
}

.nav {
    width: 100vw;

    justify-content: center;
    align-items: center;
    position: relative;

    bottom: 107px;
    right: 100px;
    letter-spacing: 0.1rem;
    font-weight: 200 !important;

}

.title {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    align-items: center;
    column-gap: 1.6rem;
}

.titleBoard::before,
.titleBoard::after {
    content: "" !important;
    height: 2px;
    background-color: #0000 !important;
    display: block !important;
}


h1 {
    font-family: "Roboto";
    margin: 100px auto;
    text-align: center;
    font-size: 2rem;
    max-width: 600px;
    position: relative;

}

.divisor-word:before {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background: #000;
    position: absolute;
    left: 245px;
    top: 50%;
    z-index: -2;
}

.divisor-word:after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background: #000;
    position: absolute;
    right: 245px;
    top: 50%;
    z-index: -2;
}

span {
    background: #fff
}

@media only screen and (max-width: 960px) {

    .footer-subcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-menu {
        display: none;
    }

    .copyrights {
        text-align: center;
    }


    .divisor-word:before {
        position: absolute;
        left: 165px;
    }

    .divisor-word:after {

        position: absolute;
        right: 165px;

    }

    .divisor-container {
        padding: 0;
    }

    .footer-body {
        padding: 20px;
    }

}