/* FONTS  */

/* @font-face {
    font-family: 'League Spartan';
    src: url('../fonts/subset-LeagueSpartan-Bold.eot');
    src: url('../fonts/subset-LeagueSpartan-Bold.woff') format('woff'),
        url('../fonts/subset-LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

/* VARIABLES CSS */

:root {
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-black2: #0b0c11;
    --color-grey-0: #e8e8e8;
    --color-grey: #555555;
    --color-grey-2: #333333;
    --color-light-blue: #5da8ef;
    --box-shadow-1: -0.438rem 1.2rem 1.2rem 0.3rem #d9d9d9;
}


/* FONTS  */

.font-primary {
    font-family: "League Spartan", Arial, Tahoma, sans-serif;
}

.font-secondary {
    font-family: "Playfair Display", "Times New Roman", serif;
}

.font-tertiary {
    font-family: "Poppins", Arial, Tahoma, sans-serif;
}



/*  ---------------------------------------------  */
/*  DESKTOP FIRST  */
/*  ---------------------------------------------  */


/*  WHOLE PAGE WRAPPER  */

.wrapper7 {
    position: relative;
    width: 1225px;
    margin: 0 auto;
    padding: 0 0.625rem;
    top: 150px;

}

.new-container {
    position: relative;
    top: 50px;
}

.title {
    margin: 0;
    color: var(--color-black2);
    font-size: 3.4rem;
    font-weight: 700;
    padding-top: 0.7rem;
    padding-bottom: 0.813rem;
    line-height: 4rem;
    text-transform: capitalize;
}

.subtitle {
    opacity: 0.9;
    color: var(--color-grey);
    font-size: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.375rem;
}

.text-default-grey {
    padding-top: 20px;
    color: var(--color-grey);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3rem;
    line-height: 2rem;
}

.quote {
    margin: 0 auto;
    width: 610px;
    padding-bottom: 3.9rem;
}


.quote__content {
    opacity: 0.9;
    color: var(--color-grey-2);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    width: 610px;
    display: block;
    text-align: center;
}

.quote__author {
    opacity: 0.9;
    color: var(--color-grey-2);
    font-size: 0.6rem;
    font-weight: 700;
    line-height: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    display: block;
    text-align: center;
    margin-bottom: 1.9rem;
}

.gallery__content {
    width: 336px;
    margin-top: 3.7rem;
    margin-left: 7.3rem;
}

.primary-button {
    display: inline-block;
    color: var(--color-grey-2);
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.3rem;
    position: relative;
    transition: all .5s ease;
    padding: 0.75rem 0.313rem 0.438rem 0.625rem;
}


.primary-button::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-light-blue);
    margin-left: -0.625rem;
    margin-top: 0.375rem;
}

.title-container {
    position: relative;
    top: 100px;
}

.shop-container-wrapper {
    position: relative;
    bottom: 100px
}

.shop-container {
    position: relative;
    text-align: center;
    top: 150px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    gap: 220px;
}

.shop-heading {
    margin: 0 auto;
    width: 218px;
    padding-bottom: 2.8rem;
    position: relative;
    bottom: 180px;
}

.content__subtitle {
    color: #7a7a7a;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: block;
}


.content__title {
    color: var(--color-grey-2);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0;
}

.content__price {
    color: #ce60a8;
    font-size: 1.25rem;
    font-weight: 300;
    display: block;
    margin-top: 2rem;
}

.content__buy {
    color: var(--color-grey-2);
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.3rem;
    margin-top: 0.3rem;
    text-decoration: none;
}

.content__buy:hover {
    color: var(--color-light-blue);
}




/*  ---------------------------------------------  */
/*  ---------------------------------------------  */

/* MEDIA QUERIES  */


@media only screen and (min-width: 600px) {

    .shop-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }


}

.newsletter-container {
    padding: 15rem 0 5rem 0;
}

@media only screen and (max-width: 700px) {

    .last-text-ux {
        padding: 0 !important;
    }

    .minishop-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .minishop-container img {
        width: 50%;
    }

    .text-mob {
        padding-bottom: 90px !important;
        text-align: center;
        padding-left: 0 !important;
        margin: 0;
    }

    .new-container {
        padding-bottom: 2px !important;
        top: 0;
        bottom: 0;
    }

    .quote__content {
        padding-top: 2rem;
    }

    .subtitle {
        padding-top: 4rem;
    }

    .shop-container {
        /*   margin-bottom: 100px !important; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .switch-order {
        order: 1;
    }



}

@media only screen and (max-width:1326px) {

    .wrapper7 {
        width: 90%;
    }

}

@media only screen and (max-width: 1090px) {

    .title {
        padding: 1rem;
    }

    .quote {
        width: 100%;
    }

    .quote__content {
        width: 100%;
    }
}


@media only screen and (max-width: 760px) {

    .title {
        font-size: 1.8rem;
    }


}